* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#herosection {
  display: flex;
  width: 100%;
  height: auto;
}

.left-section {
  width: 100%;
  display: grid;
  background-color: #fafafb;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.left-section > * {
  margin: 1rem;
}

.right-section>div {
  position: sticky;
  top: 0%;

}
.right-section {
  width: 38%;
  padding: 1rem;
}

.left-section img {
  width: 24rem;
  object-fit: cover;
}

.left-section .left-imgs,
.left-section .right-imgs {
  width: 100%;
}

#finger-ring {
  position: absolute;
  z-index: 99;
  top: -5px;
  left: 0;
  width: 100%;
}

.ring {
  position: relative;
}

.rings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.shop_with_us {
  background-color: white;
  text-align: center;
}
.rings img {
  width: 50%;
}

.rings div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* margin: 0% */
  /* gap: 2.5rem; */
}

.ring-1 {
  border-bottom: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
}

.ring-2 {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.ring-3 {
  border-right: 1px solid rgb(238, 238, 238);
}

#shop {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 1rem;
}

.certifide {
  display: grid;
  place-items: center;
  margin-top: 0.5rem;
  position: relative;
}

.certifide img {
  width: 17rem;
  /* height: 20rem; */
  border: 1px solid rgb(212, 212, 212);
  object-fit: cover;
}

.certifide a {
  display: inline-block;
  width: 100%;
  background: rgba(13, 13, 14, 0.8);
  padding: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
}

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

.review a {
  text-decoration: none;
  color: #858585;
  font-size: 14px;
}

.review a i {
  color: #000;
}

#promiss {
  font-family: sans-serif;
  font-size: 20px;
  padding: 1.5rem 0;
}

#doller {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: sans-serif;
  font-size: 18px;
  padding-bottom: 1.5rem;
  font-weight: 500;
}

#doller a {
  font-size: 14px;
  text-decoration: none;
  color: #c48c1f;
}

#fix {
  color: #858585;
  text-decoration: line-through;
}

#Affirm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  padding-bottom: 1.5rem;
}

#tame {
  position: relative;
}

#tame::before {
  content: "Affirm";
}

#tame::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-bottom-color: blue;
  border-top-color: transparent;
  border-right-color: blue;
  display: inline-block;
  border-left-color: transparent;
  transform: rotate(-110deg);
  position: absolute;
  right: 1px;
  bottom: -1.5px;
}

#Affirm a {
  color: #6d6d6d;
  text-decoration-color: #000;
}

#cont {
  border: 1px solid rgb(212, 212, 212);
}

#costomize {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: sans-serif;
  font-size: 14px;
  background: rgb(238, 238, 238);
  padding: 0.5rem 1.5rem;
}

#costomize a {
  width: 24px;
  height: 24px;
  background: url(https://assets.angara.com/assets/sds/icons/m-customize-n.svg)
    center center / 24px no-repeat;
  display: inline-block;
}

#quality {
  display: flex;
  align-items: end;
  gap: 2rem;
  padding: 1.5rem 0;
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 0.7rem;
}

#quality h4 {
  font-weight: 400;
  margin-top: 1rem;
}

#quality span {
  color: #6d6d6d;
}

#quality .flex {
  display: flex;
  align-items: center;
}

#quality img {
  width: 2rem;
  object-fit: cover;
}

#quality2 {
  display: flex;
  align-items: end;
  gap: 2rem;
  padding: 1.5rem 0;
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 0.7rem;
}

#quality2 h4 {
  font-weight: 400;
  margin-top: 1rem;
}

#quality2 span {
  color: #6d6d6d;
}

#quality2 .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

#quality2 img {
  width: 2.5rem;
  /* object-fit: cover; */
}

#quality2 a {
  text-decoration: none;
  color: #6d6d6d;
}

#quality3 {
  display: flex;
  align-items: end;
  gap: 3rem;
  padding: 1.5rem 0;
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 0.7rem;
}

#quality3 h4 {
  font-weight: 400;
  margin-top: 1rem;
}

#quality3 span {
  color: #6d6d6d;
}

#quality3 .flex {
  display: flex;
  align-items: center;
  width: 20rem;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

#quality3 .flex::-webkit-scrollbar {
  display: none;
}

#quality3 img {
  width: 2rem;
  object-fit: cover;
}

#button-1 {
  position: absolute;
  left: -2.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  color: #6d6d6d;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  /* background-color: red; */
}

#button-2 {
  position: absolute;
  right: -2.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  color: #6d6d6d;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  /* background-color: red; */
}

#white {
  position: relative;
}

#golds {
  padding-top: 1rem;
  display: inline-block;
}

#Guide {
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  color: #6d6d6d;
}

#numbers {
  position: relative;
  padding: 1.5rem;
}

#numbers .flex#scroller {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #6d6d6d;
  gap: 1rem;
  width: 24rem;
  overflow: auto;
  margin: auto;
  scroll-behavior: smooth;
}


#numbers .flex::-webkit-scrollbar {
  display: none;
}

#numbers .flex label {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background: rgb(238, 238, 238);
  display: grid;
  place-items: center;
  aspect-ratio: 3;
  transition: .2s;
}

#numbers .flex div:hover {
  border: 1px solid rgb(136, 136, 136);
}

#buttons-1 {
  position: absolute;
  font-size: 18px;
  width: 2rem;
  height: 2.8rem;
  outline: none;
  border: none;
  background: transparent;
  color: #6d6d6d;
  left: 0;
  z-index: 99;
  display: grid;
  place-items: center;
  cursor: pointer;
}

#buttons-2 {
  position: absolute;
  font-size: 18px;
  width: 2rem;
  height: 2.8rem;
  outline: none;
  border: none;
  background: transparent;
  color: #6d6d6d;
  right: 0;
  top: 22px;
  z-index: 99;
  display: grid;
  place-items: center;
  cursor: pointer;
}

#heart {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 2rem;
}

#heart .heart {
  width: 3rem;
  height: 100%;
  border: 1px solid rgb(136, 136, 136);
  display: grid;
  place-items: center;
  font-size: 25px;
  aspect-ratio: 3;
}

#card {
  background: #000;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  font-family: sans-serif;
  text-transform: uppercase;
}

#card p span:nth-child(1) {
  margin-right: 0.8rem;
  font-size: 14px;
  color: #6d6d6d;
  text-decoration: line-through;
}

#popcontainer {
  z-index: 999;
  position: absolute;
  top: 0%;
  width: 100vw;
  display: none;
  background-color: #00000082;
  /* overflow: hidden; */
}
#popup{
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: white;
  justify-items: center;
}
#popup .left-section{
  grid-template-columns: 1fr;
  background-color: white;

}
#cancel{
  position:fixed;
  top: 10px;
  right: 5%;
  border: 2px solid black;
  cursor: pointer;
}
.scroll{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: auto;
}
.scroll>*{
  width: 100px;
  border: 2px solid black;
  margin: 1rem;
  /* height: 50px; */
}
input[type='radio']{
  display: none;
}
label{
  padding: 0.5rem;
  margin: 0 0.5rem;
}
input[type='radio']:checked+label{
  border: 1px solid black;
}